<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.etsmtl.applets.etsmobile2">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="ca.etsmtl.applets.etsmobile.ApplicationManager"
        android:allowBackup="true"
        android:configChanges="locale|layoutDirection"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ETSMobileTheme">
        <activity
            android:name="ca.etsmtl.applets.etsmobile.ui.activity.MainActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.etsmtl.applets.etsmobile.ui.activity.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="ca.etsmtl.applets.etsmobile.ui.activity.UrgenceActivity"
            android:parentActivityName="ca.etsmtl.applets.etsmobile.ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ca.etsmtl.applets.etsmobile.ui.activity.MoodleCourseActivity"
            android:label="@string/title_activity_moodle_course"
            android:parentActivityName="ca.etsmtl.applets.etsmobile.ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.etsmtl.applets.etsmobile.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="ca.etsmtl.applets.etsmobile.ui.activity.NewsDetailsActivity"
            android:label="@string/title_activity_news_details"
            android:parentActivityName="ca.etsmtl.applets.etsmobile.ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.etsmtl.applets.etsmobile.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="ca.etsmtl.applets.etsmobile.ui.activity.BottinDetailsActivity"
            android:label="@string/title_activity_bottin_details"
            android:parentActivityName="ca.etsmtl.applets.etsmobile.ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.etsmtl.applets.etsmobile.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="ca.etsmtl.applets.etsmobile.ui.activity.NotesDetailsActivity"
            android:label="@string/title_activity_notes_details"
            android:parentActivityName="ca.etsmtl.applets.etsmobile.ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.etsmtl.applets.etsmobile.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="ca.etsmtl.applets.etsmobile.ui.activity.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:launchMode="singleTop"
            android:parentActivityName="ca.etsmtl.applets.etsmobile.ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.etsmtl.applets.etsmobile.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="ca.etsmtl.applets.etsmobile.ui.activity.PrefsActivity"
            android:label="PrefsActivity"
            android:parentActivityName="ca.etsmtl.applets.etsmobile.ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.etsmtl.applets.etsmobile.ui.activity.MainActivity" />
        </activity>

        <service
            android:name="ca.etsmtl.applets.etsmobile.http.MyJackSpringAndroidSpiceService"
            android:exported="false" />
        <service android:name="ca.etsmtl.applets.etsmobile.util.ETSAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- [START fcm_listener] -->
        <service
            android:name="ca.etsmtl.applets.etsmobile.service.ETSFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END fcm_listener] -->
        <!-- [START instanceId_listener] -->
        <!-- [END instanceId_listener] -->
        <service
            android:name="ca.etsmtl.applets.etsmobile.service.FcmRegistrationIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="" />

        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="${enableCrashReporting}" />

        <service android:name="ca.etsmtl.applets.etsmobile.service.WearService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />

                <data
                    android:host="*"
                    android:pathPrefix="/today_req"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <receiver android:name="ca.etsmtl.applets.etsmobile.widget.TodayWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_widget_info" />
        </receiver>

        <service
            android:name="ca.etsmtl.applets.etsmobile.widget.TodayWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name="ca.etsmtl.applets.etsmobile.widget.TodayWidgetConfigureActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity android:name="ca.etsmtl.applets.etsmobile.ui.activity.MoodleAssignmentsActivity"
            android:parentActivityName="ca.etsmtl.applets.etsmobile.ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.etsmtl.applets.etsmobile.ui.activity.MainActivity" />
        </activity>

    </application>

</manifest>